@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
};
$font-color: #929292; // 灰色字体颜色
$active-color: #2468f2;
$default-color: #1b1c21; // 默认颜色
*{
  padding: 0;
  margin: 0;
}


// 重写elementui样式
.form .form-item-sty {
  padding: 0;
}
.el-tabs__nav-wrap {
  padding-left: 20px !important;
}

// 节点模板样式
.basic-node {
  &.active {
    border: 1px solid #45a2fe!important;
    box-shadow: 0 0 0 2px #b5e1ff;
  }
}


#container {
  display: flex;
  border: 1px solid #dfe3e8;
}
#stencil {
  width: 180px;
  height: 100%;
  position: relative;
  border-right: 1px solid #dfe3e8;
}
.x6-widget-stencil  {
  background-color: #fff;
}
.x6-widget-stencil-title {
  background-color: #fff;
}
.x6-widget-stencil-group-title {
  background-color: #fff !important;
}
.x6-widget-transform {
  margin: -1px 0 0 -1px;
  padding: 0px;
  border: 1px solid #239edd;
}
.x6-widget-transform > div {
  border: 1px solid #239edd;
}
.x6-widget-transform > div:hover {
  background-color: #3dafe4;
}
.x6-widget-transform-active-handle {
  background-color: #3dafe4;
}
.x6-widget-transform-resize {
  border-radius: 0;
}
.x6-widget-selection-inner {
  border: 1px solid #239edd;
}
.x6-widget-selection-box {
  opacity: 0;
}
.x6-edge:hover path:nth-child(2){
  stroke: #1890ff;
  stroke-width: 1px;
}
.x6-edge-selected path:nth-child(2){
  stroke: #1890ff;
  stroke-width: 1.5px !important;
}

// 自定义工具栏
.custom-save {
  
}